body {
    background-color: rgb(194, 193, 193);
    margin: 2px;
    padding: 0px;


}



.Titulo {
    background-color: rgb(133, 132, 132);
}

.linha {
    border-top: 18px solid;
    color: rgb(203, 214, 104);
}


.btn {
    display: inline-flex;
    align-items: center;
    padding: 5px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    background-color: #f8d7da;
    border: 1px solid #dc3545;

    gap: 12px;
}

.menu {
    background-color: rgb(173, 173, 173);
    box-sizing: border-box;
    border-style: solid;
    padding: 150px;
    margin: 5px;
    align-items: center;
    justify-content: center;

}


.alongar {
    padding-top: 1px;
}

.flex {
    display: flex;
}

.limite {
    height: 100px;
    max-width: 640px;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }

 td,th {
    border: 1px solid #757373;
    text-align: left;
    padding: 8px;
 }

 tr:nth-child(even) {
    background-color: #ea3efa;
 }